.defender{
    color:var(--defender-text) ;
    /* background-color: var(--defender-background); */
    /* background-image: linear-gradient(to bottom right, rgb(89, 0, 255), rgb(255, 0, 255)); */
    background-image: radial-gradient(circle, rgb(0, 255, 200), rgb(111, 0, 128));
  }
.defense{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.defense-card{
    flex-basis: calc(33% - 20px);
    border: 2px solid #ccc;
    /* border-radius: 15px 50px; */
    padding: 16px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.4s ease;
    background-color: var(--defender-primary);
    /* border: 10px solid transparent;
    border-image: url("../../Data/UI/demoBI.png") 30% round; */
    border: 5px solid red;
  border-image: linear-gradient(blue, red) 1;
  

}
.defense-card:hover {
  box-shadow: 0 20px 20px rgb(0, 0, 0);
}
.defense-card .cost {
    margin: auto;
    
    width: 50%;
    font-weight: bold;
    background-color: rgb(221, 255, 0);
    
    border-radius: 10px;
  }

  .defense-card h3 {
    margin-top: 0;
  }

  .defense-card p {
    margin: 8px 0;
  }