.board{
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    color: var(--text);
    font-family: 'Courier New', Courier, monospace;

}
.qry{
    font-size:xx-large;
    font-weight: 600;
}

.chooseRole{
    display: flex;
    justify-content: center;
    gap: 10%;
}
.rolebtn{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-image: url("../../Data/whiteImg.jpg");
    background-position: center;
    font-size:3em;
    transition: background-image 0.5s ease,
                box-shadow 0.3s ease,
                color 0.5s ease;

}
.attackBtn:hover{
    background-image: url("../../Data/attackImg.jpg");
    box-shadow: 0 0 50px rgb(255, 0, 0);
    color: rgba(240, 248, 255, 0);
}

.defendBtn:hover{
    background-image: url("../../Data/defendImg.jpg");
    box-shadow: 0 0 50px rgb(2, 255, 10);
    color: rgba(240, 248, 255, 0);
}
.testing button {
    all:unset;
    margin-left:10px ;

    width: 100px;
    background-color: rgb(118, 0, 104);
    border-radius: 5px;
    vertical-align: middle;
}

.roomButtons{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
}