

.question{
    font-size: 1.5em;

    border-radius: 5px;
}
.options{
    margin-top: 5px;
    display: flex;
    gap:5%;
    justify-content: center;
}

.option{
    flex-basis: calc(25% - 20px);
    padding: 3px;
}