.quiz{
    width:85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    
    height: 100vh;
}

.choose-subject{
    font-size: 2em;
}
select{
    font-size: 0.7em;
}
.subject-selection-button button{
    font-size: 1em;
    margin-top: 5px;
}

.quiz-area{
    overflow-y: auto;
    max-height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.quiz-area button{
    width: 150px;
    font-size: large;
    margin: auto;
    background-color: yellowgreen;
}