.attacker{
    color:var(--attacker-text) ;
    background-color: var(--attacker-background);
    display: flex;
    
 
}
.attacks{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex:9 ;
}

.attack-card{
    flex-basis: calc(33% - 20px);
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    /* background-color: var(--attacker-primary); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.4s ease;
    border: 5px solid red;
    border-image: linear-gradient(rgb(208, 0, 255), red) 1 round;
    border-image-width: 2px;
}
.attack-card:hover {
  box-shadow: 0 5px 10px rgb(0, 242, 255);
}
.attack-card .cost {
    margin: auto;
    
    width: 50%;
    font-weight: bold;
    background-color: rgb(255, 81, 0);
    
    border-radius: 10px;
  }

  .attack-card h3 {
    margin-top: 0;
  }

  .attack-card p {
    margin: 8px 0;
  }

  .sideHUD{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
    position: relative;
    /* top:50%; */
    right: 0;
    flex: 1;
  }


  .goToQz{

    /* height: 40px; */
    /* padding: 10px; */
    color: brown;
    background-color:rgb(255, 133, 220);
    border: 5px solid red;
    border-image: linear-gradient(blue, red) 1;
    cursor: pointer;
    transition: background-color 0.5s ease;
    
  }
  .goToQz:hover{
    background-color: rgb(106, 0, 255);
  }