.attacker{
    color:var(--attacker-text) ;
    background-color: var(--attacker-background);
}
.attacks{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.attack-card{
    flex-basis: calc(33% - 20px);
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    /* background-color: var(--attacker-primary); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.4s ease;
}
.attack-card:hover {
  box-shadow: 0 4px 10px rgb(0, 242, 255);
}
.attack-card .cost {
    margin: auto;
    
    width: 50%;
    font-weight: bold;
    background-color: rgb(255, 81, 0);
    
    border-radius: 10px;
  }

  .attack-card h3 {
    margin-top: 0;
  }

  .attack-card p {
    margin: 8px 0;
  }